In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv('/media/sf_Shared_Folder/ML_ZoomCamp/housing.csv')

In [34]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(value=0,inplace=False)
df["rooms_per_household"] = df["total_rooms"] / df["households"]
df["bedrooms_per_room"] = df["total_bedrooms"] / df["total_rooms"]
df["population_per_household"] = df["population"] / df["households"]

In [35]:
df['median_house_value_lg'] = np.log1p(df.median_house_value)
df=df.drop('median_house_value',axis=1)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household,median_house_value_lg
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY,6.984127,0.146591,2.555556,13.022766
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY,6.238137,0.155797,2.109842,12.789687
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY,8.288136,0.129516,2.802260,12.771673
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,5.817352,0.184458,2.547945,12.740520
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY,6.281853,0.172096,2.181467,12.743154

**One-hot encoding**

In [36]:

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['ocean_proximity']])



# to build these columns back into the DataFrame
df[ohe.categories_[0]] = transformed.toarray()
df= df.drop('ocean_proximity',axis=1)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household,median_house_value_lg,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,6.984127,0.146591,2.555556,13.022766,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,6.238137,0.155797,2.109842,12.789687,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,8.288136,0.129516,2.802260,12.771673,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,5.817352,0.184458,2.547945,12.740520,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,6.281853,0.172096,2.181467,12.743154,0.0,0.0,0.0,1.0,0.0

In [37]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [38]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.median_house_value_lg.values
y_val   = df_val.median_house_value_lg.values
y_test  = df_test.median_house_value_lg.values

X_train = df_train.drop('median_house_value_lg',axis=1)
X_val   = df_val.drop('median_house_value_lg',axis=1)
X_test  = df_test.drop('median_house_value_lg',axis=1)

In [39]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
a = [0, 0.01, 0.1, 1, 10]                 
modelr = Ridge(alpha=a, solver="sag", random_state=42)

In [60]:
modelr = Ridge(alpha=0, solver="sag", random_state=42)
modelr.fit(X_train, y_train)
y_pred = modelr.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)

print ("0======", b)

0====== 0.27464262613642076

In [47]:
modelr = Ridge(alpha=0.01, solver="sag", random_state=42)
modelr.fit(X_train, y_train)
y_pred = modelr.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)
print ("0.01======", rmse)

0.01====== 0.2746426261543594

In [48]:
modelr = Ridge(alpha=0.1, solver="sag", random_state=42)
modelr.fit(X_train, y_train)
y_pred = modelr.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)
print ("0.1======", rmse)

0.1====== 0.274642626324762

In [49]:
modelr = Ridge(alpha=1, solver="sag", random_state=42)
modelr.fit(X_train, y_train)
y_pred = modelr.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)
print ("1======", rmse)

1====== 0.27464262803776485

In [50]:
modelr = Ridge(alpha=10, solver="sag", random_state=42)
modelr.fit(X_train, y_train)
y_pred = modelr.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)
print ("10======", rmse)

10====== 0.2746426451408677

In [55]:
def rmse(a,b):
    er=a - b
    mse = (er**2).mean()
    return np.sqrt(mse)

In [52]:
rmse(y_val,y_pred)

0.5240635888333283