***Importing Needed libraries***

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

Check numpy version

In [ ]:
np.__version__

'1.21.6'

## Getting the data

**Enable uploading in google colab**

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Cars_Data.csv to Cars_Data.csv

**Data Reading**

In [6]:
import io
data = pd.read_csv(io.BytesIO(uploaded['Cars_Data.csv']))
print(data)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

*As we see above data includes 11914 rows and 16 colums*

**To identify the most frequent car manufacturers **

In [7]:
data['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

*It is Clear the top 3 manufacturers are (Chevrolet, Ford, Volkswagen)*

**the number of unique Audi car models**

In [8]:
audi_df = data[data['Make'] == 'Audi']
audi_models=audi_df['Model'].value_counts()
len(audi_models.tolist())

34

**Columns have missing values**

In [9]:
C_null=data.columns[data.isna().any()].tolist()
C_null
len(C_null)

5

Median of Engine cylinders

In [ ]:
print(data['Engine Cylinders'].median())

6.0

Most frequent value of the Engine Cylinders

In [11]:
EC_mode=data['Engine Cylinders'].mode()
EC_mode

0    4.0
dtype: float64

**To fill missing values with Mode**

In [12]:
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(value=EC_mode,inplace=False)

Median of Engine cylinders_after filling

In [2]:
print(data['Engine Cylinders'].median())

NameError: ignored

**Select lotus Cars**

In [1]:
df_1 = data[data['Make'] == 'Lotus']
df_1

NameError: ignored

**Select specific columns Engine HP & Engine Cylinders**

In [ ]:
df_2 = df_1[["Engine HP","Engine Cylinders"]]
df_2

**Drop Duplicates**

In [3]:
df_3=df_2.drop_duplicates()
df_3

NameError: ignored

**Convert df_3 to a Numpy Array**

In [4]:
X=np.array(df_3)
X

NameError: ignored

**Calculate the transpose**

In [ ]:
TX=np.transpose(X)
TX

**Matrix Matrix Multiplication**

In [5]:
XTX=np.matmul(X,X.T)
XTX

NameError: ignored

**Matrix Inverse**

In [ ]:
XTX_i= np.linalg.inv(XTX) 
XTX_i

**Create an array y**

In [ ]:
y= np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

**Multiply the XTX_i with TX, and then multiply the result by y**

In [ ]:
a=np.matmul(XTX_i,TX)
w=np.matmul(y,a)
w